.image-box {
    user-select: none;
    position: relative;
    overflow: hidden;
}


@keyframes ants {
    to {
        background-position: 100% 100%
    }
}

.wrapper {
    border: 2px solid transparent;
}

.edit-mode {
    background: linear-gradient(white, white) padding-box,
        repeating-linear-gradient(-45deg, black 0, black 25%, transparent 0, transparent 50%) 0 / .6em .6em;
    animation: ants 50s linear infinite;
    font: 100%/1.6 Baskerville, Palatino, serif;
}